@import "null";

$family: 'Open Sans', sans-serif;
$family2: 'Roboto', sans-serif;

$color__black: #000000;
$color__white: #FFFFFF;
$color__green: #00897B;
$color__lite-green: #E4FDF9;
$color__gray: #BFBFBF;
$color__lite-gray: #F0F1F1;
$color__blue: #3949AB;
$color__dark-gray: #222321;

@mixin container($mw, $wi) {
  max-width: $mw;
  margin: 0 auto;
  padding: 0 10px;
  width: $wi;
}

@mixin button($bw, $pv, $ph, $brs, $brc, $bc, $fw, $fs, $fa, $lh, $tc) {
  width: $bw;
  padding: $pv $ph;
  border: $brs solid $brc;
  background-color: $bc;
  font: $fw $fs $fa;
  line-height: $lh;
  letter-spacing: 0.1em;
  color: $tc;
}

@mixin main-text__title($fs, $fw, $tc, $mb) {
  font: bold $fs $family;
  line-height: $fw;
  text-align: center;
  letter-spacing: 0.1em;
  color: $tc;
  margin-bottom: $mb;
}

@mixin main-text__description($fs, $fw, $dc) {
  font: $fs $family;
  line-height: $fw;
  text-align: center;
  letter-spacing: 0.1em;
  color: $dc;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.main__container {
  @include container(1390px, 86%);
}

.second__container {
  @include container(1220px, 77%);
}

.main-text {
  max-width: 822px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .main-text__title {
    @include main-text__title(36px, 49px, $color__black, 30px);
  }

  .main-text__description {
    @include main-text__description(18px, 24px, $color__black);
  }
}

.arrow {
  display: none;
}

.lock {
  overflow: hidden;
}

/* Header Style */

.header {
  min-height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $color__white;

  .header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__logo {
      display: flex;
      align-items: center;

      .logo__text {
        font: 16px/22px $family;
        letter-spacing: 0.1em;
        color: $color__black;
        width: 117px;
      }
    }

    .header__burger {
      display: none;
    }

    .header__menu {
      width: 60%;

      .menu__list {
        display: flex;
        justify-content: space-between;

        .list__item {
          a {
            font: 600 20px/22px $family;
            letter-spacing: 0.1em;
            color: #000000;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

/* Slide Style */

.slide {
  background: url("../img/content-top-fon 1.png") center center no-repeat;
  background-size: cover;
  margin-top: 120px;
  padding: 217px 0 77px 0;

  .slide__container {
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 10px;
    width: 85%; /////////////////////////////////////// todo: пересмотреть! 67

    .slide__body {
      display: flex;
      flex-direction: column;
      align-items: center;

      .slide__title {
        font: 70px/31% $family;
        letter-spacing: 0.1em;
        text-align: center;
        color: $color__white;
        margin-bottom: 61px;
      }

      .slide__text {
        width: 89%;
        font: 30px/30px $family;
        letter-spacing: 0.1em;
        text-align: center;
        color: $color__white;
        margin-bottom: 127px;
      }

      .slide__button-block {
        width: 49%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 129px;

        .button-block__button {
          @include button(46%, 22px, 22px, 4px, $color__white, transparent, bold, 22px, $family2, 26px, $color__white);
        }

        .activeSlideButton {
          @include button(46%, 22px, 22px, 4px, $color__green, $color__green, bold, 22px, $family2, 26px, $color__white);
        }
      }
    }
  }
}

/* About us Style */

.about {
  padding: 115px 0;

  .about__body {
    display: flex;
    flex-direction: column;
    align-items: center;

    .about__text-block {
      margin-bottom: 102px;
    }

    .about__blocks {
      display: flex;
      justify-content: space-between;

      .blocks__block {
        width: 21%;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          height: 63px;
          margin-bottom: 30px;
        }

        .block__title {
          font: 600 20px/22px $family;
          letter-spacing: 0.1em;
          color: $color__black;
          margin-bottom: 30px;
          text-align: center;
        }

        .block__text {
          font: 15px/22px $family;
          text-align: center;
          letter-spacing: 0.1em;
          color: $color__black;
        }
      }
    }
  }
}

/* Services Style */

.services {
  background-color: $color__lite-green;
  padding: 115px 0;

  .services__body {
    display: flex;
    flex-direction: column;
    align-items: center;

    .services__text-block {
      margin-bottom: 110px;
    }

    .services__services-blocks {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .services-blocks__service {
        width: 31%;
        padding: 50px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color__white;
        margin-bottom: 45px;
        cursor: pointer;

        .service__content {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;

          .service__img {
            width: 56px;
            height: 62px;
            background: url("../img/smartphone-black1.png");
            margin-bottom: 40px;
          }

          .service__title {
            font: 600 20px/110% $family;
            text-align: center;
            letter-spacing: 0.1em;
            color: $color__black;
            margin-bottom: 20px;
          }

          .service__text {
            font: 15px/167% $family;
            text-align: center;
            letter-spacing: 0.1em;
            color: $color__black;
            margin-bottom: 40px;
          }
        }

        .service__button {
          @include button(auto, 17px, 14px, 2px, $color__black, transparent, 600, 20px, $family, 22px, $color__black);
        }
      }

      .activeServiceCard {
        background-color: $color__green;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);

        .service__content {
          .service__img {
            background: url("../img/smartphone-white1.png");
          }

          .service__title {
            color: $color__white;
          }

          .service__text {
            color: $color__white;
          }
        }

        .service__button {
          border-color: $color__white;
          color: $color__white;
        }
      }
    }

    .services__button {
      @include button(221px, 24px, 58px, 0, $color__green, $color__green, 600, 20px, $family, 20px, $color__white);
    }
  }
}

/* Price Style */

.price {
  background-color: $color__lite-gray;
  padding: 115px 0;

  .price__body {
    display: flex;
    flex-direction: column;
    align-items: center;

    .price__text-block {
      margin-bottom: 115px;
    }

    .price__tariff-block {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .tariff-block__tariff {
        width: 29%;
        padding-bottom: 50px;
        background-color: $color__white;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        .tariff__price-block {
          background-color: $color__blue;
          width: 100%;
          padding: 50px 0;

          .price-block__top-group {
            display: flex;
            flex-direction: column;
            align-items: center;

            .price-block__title {
              font: 25px/88% $family;
              text-align: center;
              letter-spacing: 0.1em;
              color: $color__white;
              margin-bottom: 50px;
            }

            .price-block__cost {
              font-family: $family;
              line-height: 35px;
              letter-spacing: 0.1em;
              color: $color__white;

              span:first-of-type {
                font: 25px/22px $family;
                margin-right: 3px;
                vertical-align: top;
              }

              span:nth-child(2) {
                font-size: 50px;
                margin-right: 10px;
              }

              span:last-of-type {
                font-size: 20px;
              }
            }
          }
        }

        .tariff__list {
          margin: 25px 0 46px 0;

          .tariff__item {
            width: 188px;
            font: 300 17px/412% $family;
            text-align: center;
            letter-spacing: 0.1em;
            color: $color__black;
            border-bottom: 1px solid $color__gray;
          }
        }

        .tariff__button {
          @include button(190px, 19px, 22px, 2px, $color__black, transparent, 600, 20px, $family, 22px, $color__black);
        }

        .activePriceButton {
          @include button(190px, 19px, 22px, 2px, $color__green, $color__green, 600, 20px, $family, 22px, $color__white);
        }
      }

      .tariff-block__tariff-shadow {
        box-shadow: 0 3px 25px rgba(0, 0, 0, 0.35);
      }
    }
  }
}

/* Team Style */

.team {
  padding: 115px 0;

  .team__body {
    display: flex;
    flex-direction: column;
    align-items: center;

    .team__text-block {
      margin-bottom: 115px;
    }

    .team__members {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 115px;

      .members__member-card {
        width: 29%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        letter-spacing: 0.1em;
        color: $color__black;

        .member-card__image {
          margin-bottom: 40px;

          img {
            width: 100%;
          }
        }

        .member-card__name {
          font: 600 24px/92% $family;
          margin-bottom: 15px;
        }

        .member-card__position {
          font: 20px/110% $family;
          margin-bottom: 40px;
        }

        .member-card__social-networks {
          width: 75%;
          display: flex;
          justify-content: space-between;

          .social-networks__item {
            a {
              width: 50px;
              height: 50px;
              background-color: $color__lite-gray;
              border-radius: 10px;
              display: flex;
              align-items: center;
              justify-content: center;

              &:hover {
                border: 1px solid $color__green;
              }
            }
          }
        }
      }
    }

    .team__buttons {
      width: 7%;
      display: flex;
      justify-content: space-between;

      .next-prev__button {
        width: 20px;
        height: 20px;
        border-radius: 20px;
        background-color: $color__green;

        &:first-of-type {
          background-color: $color__blue;
        }
      }

      .hidden-button {
        display: none;
      }
    }
  }
}

/* Blog Style */


.blog {
  background-color: $color__lite-green;
  padding: 115px 0;

  .blog__body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .blog__text-block {
      margin-bottom: 115px;
    }

    .blog__article {
      display: flex;

      .article__image {
        width: 50%;

        img {
          width: 100%;
        }
      }

      .article__text-block {
        width: 45%;
        padding: 70px 0 0 70px;

        .article__title {
          margin-bottom: 50px;

          a {
            font: 600 30px/73% $family;
            color: $color__black;
            letter-spacing: 0.1em;

            &:hover {
              color: $color__green;
            }
          }
        }

        .article__data {
          display: flex;
          align-items: center;

          .data__block {
            margin: 0 70px 50px 0;
            display: flex;
            align-items: center;

            span {
              margin-left: 20px;
              font: 600 18px/122% $family;
              letter-spacing: 0.1em;
              color: $color__black;
            }

            &:last-of-type {
              margin-right: 0;
            }
          }
        }

        .article__description {
          font: 18px/144% $family;
          letter-spacing: 0.1em;
          color: $color__black;
        }
      }
    }

    div:nth-child(4) {
      display: flex;
      flex-direction: row-reverse;

      .article__text-block {
        width: 45%;
        padding: 70px 70px 0 0;
      }
    }

    .blog__button-block {
      @include button(221px, 24px, 45px, 0, $color__green, $color__green, 600, 20px, $family, 20px, $color__white);
      margin-top: 50px;
    }
  }
}


/* Contact Style */

.contact {
  background-color: $color__dark-gray;
  padding: 115px 0;

  .contact__body {
    display: flex;
    flex-direction: column;
    align-items: center;

    .contact__text-block {
      max-width: 822px;

      .main-text__title {
        @include main-text__title(36px, 49px, $color__white, 30px);
      }

      .main-text__description {
        @include main-text__description(18px, 24px, $color__white);
      }

      margin-bottom: 115px;
    }

    .contact__communication-group {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 115px;

      .communication-group__method {
        width: 29%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .method__img {
          width: 110px;
          height: 110px;
          border-radius: 50%;
          background-color: $color__blue;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 40px;
        }

        .method__link {
          font: 600 22px/136% $family;
          text-align: center;
          letter-spacing: 0.1em;
          color: $color__white;
        }
      }
    }

    .contact__form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .form__input-area {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;

        ::placeholder {
          color: $color__black;
        }

        .input-area__data {
          width: 47%;
          display: flex;
          flex-direction: column;

          .input-area__input {
            width: 100%;
            border-radius: 20px;
            padding: 36px 0 36px 30px;
            font: 600 20px/140% $family;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: $color__black;

            &:not(:last-of-type) {
              margin-bottom: 40px;
            }
          }

          .error {
            -webkit-appearance: none;
            box-shadow: 0 0 15px red;
          }
        }

        .input-area__message {
          width: 47%;

          textarea {
            width: 100%;
            height: 100%;
            border-radius: 20px;
            padding: 36px 30px 0 30px;
            resize: none;
            font: 600 20px/140% $family;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: $color__black;
          }
        }
      }

      .form__button {
        @include button(400px, 36px, 161px, 0, transparent, $color__blue, 600, 26px, $family, 28px, $color__white);
        border-radius: 20px;
        pointer-events: none;
      }

      .activeButton {
        pointer-events: all;
      }
    }
  }
}

/* Footer Style */

.footer {
  padding: 70px 0 60px 0;

  .footer__body {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer__menu {
      width: 58%;

      .footer__list {
        display: flex;
        justify-content: space-between;

        .footer__item {
          a {
            font: 20px/22px $family;
            letter-spacing: 0.1em;
            color: $color__black;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .footer__copy-block {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .copy-block__rights {
        font: 18px/28px $family;
        letter-spacing: 0.0025em;
        text-transform: uppercase;
        color: $color__black;
        margin-bottom: 8px;
      }

      .copy-block__network-links {
        display: flex;
        align-items: center;

        .network-links-item:first-of-type {
          margin-right: 14px;
        }

        .network-links-item:nth-child(2) {
          margin-right: 30px;
        }
      }
    }
  }
}


@media (min-width: 991px) and (max-width: 1216px) {
  .header {
    .main__container {
      width: 92%;

      .header__menu {
        width: 65%;

        .menu__list {
          .list__item {
            a {
              font: 600 18px/22px $family;
            }
          }
        }
      }
    }
  }

  .slide {
    .slide__container {
      .slide__body {
        .slide__title {
          font: 57px/57px $family;
          margin-bottom: 40px;
        }

        .slide__text {
          font: 25px/25px $family;
          margin-bottom: 100px;
        }

        .slide__button-block {
          width: 63%;
          margin-bottom: 100px;
        }
      }
    }
  }

  .blog {
    .blog__body {
      .blog__article {
        .article__text-block {
          padding: 40px 0 0 40px;

          .article__title {
            margin-bottom: 30px;

            a {
              font: 600 25px/73% $family;
            }
          }

          .article__data {
            .data__block {
              margin: 0 40px 30px 0;

              span {
                margin-left: 15px;
                font: 600 16px/122% $family;
              }
            }
          }

          .article__description {
            font: 16px/144% $family;
          }
        }
      }

      div:nth-child(4) {
        .article__text-block {
          width: 45%;
          padding: 40px 40px 0 0;
        }
      }
    }
  }
}

@media (min-width: 991px) and (max-width: 1199px) {
  .second__container {
    width: 85%;
  }

  .about {
    .about__body {
      .about__blocks {
        .blocks__block {
          width: 24%;
        }
      }
    }
  }

  .services {
    .services__body {
      .services__services-blocks {
        .services-blocks__service {
          padding: 30px 18px;
        }
      }
    }
  }

  .price {
    .main__container {
      width: 92%;

      .price__body {
        .price__tariff-block {
          .tariff-block__tariff {
            width: 31%;
            max-width: 390px;
          }
        }
      }
    }
  }

  .team {
    .main__container {
      width: 92%;

      .team__body {
        .team__members {
          .members__member-card {
            width: 30%;

            .member-card__social-networks {
              width: 82%;

              .social-networks__item {
                a {
                  width: 45px;
                  height: 45px;
                }
              }
            }
          }
        }

        .team__buttons {
          width: 8%;
        }
      }
    }
  }

  .contact {
    .contact__body {
      .contact__communication-group {
        .communication-group__method {
          width: 32%;

          .method__link {
            font: 600 19px/25px $family;
          }
        }
      }
    }
  }

  .footer {
    .main__container {
      width: 92%;

      .footer__body {
        .footer__menu {
          width: 62%;

          .footer__list {
            .footer__item {
              a {
                font: 18px/22px $family;
              }
            }
          }
        }

        .footer__copy-block {
          .copy-block__rights {
            font: 17px/22px $family;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .header {
    min-height: 100px;

    .header__body {
      .header__menu {
        display: none;
        position: fixed;
        top: 100px;
        left: 0;
        width: 100%;
        background-color: $color__white;
        padding: 20px 0 30px 0;
        overflow: auto;

        .menu__list {
          display: block;
          text-align: right;
          width: 75%;
          margin: 0 auto;

          .list__item:not(:last-of-type) {
            margin-bottom: 30px;
          }
        }
      }

      .active {
        display: block;
      }

      .header__burger {
        width: 35px;
        height: 23px;
        display: block;
        position: relative;
        cursor: pointer;
        background: url("../img/burger1.png") center center no-repeat;
        background-size: 100%;
      }

      .header__close {
        background: url("../img/Close.png") center center no-repeat;
        background-size: 80%;
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 991px) {

  .second__container {
    width: 90%;
  }

  .slide {
    margin-top: 100px;
    padding: 150px 0 65px 0;

    .slide__container {
      width: 93%;

      .slide__body {
        .slide__title {
          font: 47px/50px $family;
          margin-bottom: 33px;
        }

        .slide__text {
          font: 20px/20px $family;
          margin-bottom: 85px;
        }

        .slide__button-block {
          width: 63%;
          margin-bottom: 80px;

          .button-block__button {
            font-size: 20px;
            padding: 16px;
          }
        }
      }
    }
  }

  .about {
    padding: 80px 0;

    .second__container {
      .about__body {
        .about__text-block {
          margin-bottom: 80px;
        }

        .about__blocks {
          justify-content: center;
          flex-wrap: wrap;

          .blocks__block {
            width: 47%;

            &:first-of-type {
              margin-right: 40px;
            }

            &:last-of-type {
              margin-top: 50px;
            }
          }
        }
      }
    }
  }

  .services {
    padding: 80px 0;

    .services__body {

      .services__text-block {
        margin-bottom: 80px;
      }

      .services__services-blocks {
        .services-blocks__service {
          width: 45%;
          padding: 20px 15px;

          .service__content {
            .service__img {
              margin-bottom: 25px;
            }
          }
        }
      }
    }
  }

  .price {
    padding: 80px 0;

    .main__container {
      width: 95%;

      .price__body {
        .price__text-block {
          margin-bottom: 80px;
        }

        .price__tariff-block {
          .tariff-block__tariff {
            width: 31%;
            padding-bottom: 20px;

            .tariff__price-block {
              padding: 25px 0;

              .price-block__top-group {
                .price-block__title {
                  font: 20px/88% $family;
                  margin-bottom: 25px;
                }

                .price-block__cost {
                  span:first-of-type {
                    font: 18px/22px $family;
                    margin-right: 2px;
                  }

                  span:nth-child(2) {
                    font-size: 35px;
                    margin-right: 5px;
                  }

                  span:last-of-type {
                    font-size: 18px;
                  }
                }
              }
            }

            .tariff__list {
              margin: 10px 0 20px 0;
            }
          }
        }
      }
    }
  }

  .team {
    padding: 80px 0;

    .main__container {
      .team__body {
        .team__text-block {
          margin-bottom: 80px;
        }

        .team__members {
          margin-bottom: 80px;

          .members__member-card {
            width: 45%;

            .member-card__image {
              margin-bottom: 30px;
            }

            .member-card__position {
              margin-bottom: 30px;
            }

            .member-card__social-networks {
              width: 78%;

              .social-networks__item {
                a {
                  width: 45px;
                  height: 45px;
                }
              }
            }

            &:last-of-type {
              display: none;
            }
          }
        }

        .team__buttons {
          width: 15%;

          .next-prev__button:nth-child(4) {
            display: block;
          }
        }
      }
    }
  }

  .blog {
    padding: 80px 0;

    .blog__body {
      .blog__text-block {
        margin-bottom: 80px;
      }

      .blog__article {
        align-items: center;
        margin-bottom: 20px;

        .article__image {
          width: 45%;
        }

        .article__text-block {
          width: 55%;
          padding: 0 0 0 30px;

          .article__title {
            margin-bottom: 20px;

            a {
              font: 600 22px/73% $family;
            }
          }

          .article__data {
            .data__block {
              margin: 0 40px 20px 0;

              span {
                margin-left: 15px;
                font: 600 16px/122% $family;
              }
            }
          }

          .article__description {
            font: 15px/18px $family;
          }
        }
      }

      div:nth-child(4) {
        flex-direction: row;

        .article__text-block {
          width: 55%;
          padding: 0 0 0 30px;
        }
      }
    }
  }

  .contact {
    padding: 80px 0;

    .contact__body {
      .contact__text-block {
        margin-bottom: 80px;
      }

      .contact__communication-group {
        margin-bottom: 80px;

        .communication-group__method{
          width: 33%;

          .method__img {
            width: 90px;
            height: 90px;
            margin-bottom: 30px;
          }

          .method__link {
            font: 600 16px/25px $family;
          }
        }
      }

      .contact__form {
        .form__input-area {
          .input-area__data {
            .input-area__input {
              padding: 20px 0 20px 15px;
            }
          }
        }
      }
    }
  }

  .footer {
    .main__container {
      .footer__body {
        .footer__menu {
          width: 60%;

          .footer__list {
            justify-content: flex-start;
            flex-wrap: wrap;

            .footer__item {
              margin: 0 25px 8px 0;

              a {
                font: 18px/22px $family;
              }
            }
          }
        }

        .footer__copy-block {
          width: 37%;

          .copy-block__rights {
            font: 15px/22px $family;
          }
        }
      }
    }
  }
}

@media (min-width: 577px) and (max-width: 768px) {

  .second__container {
    width: 95%;
  }

  .main-text {
    .main-text__title {
      @include main-text__title(30px, 30px, $color__black, 25px);
    }

    .main-text__description {
      @include main-text__description(16px, 24px, $color__black);
    }
  }

  .slide {
    margin-top: 100px;
    padding: 100px 0 50px 0;

    .slide__container {
      width: 95%;
      padding: 5px 0;

      .slide__body {
        .slide__title {
          font: 38px/35px $family;
          margin-bottom: 30px;
        }

        .slide__text {
          width: 85%;
          font: 18px/18px $family;
          margin-bottom: 50px;
        }

        .slide__button-block {
          width: 37%;
          margin-bottom: 0;
          flex-direction: column;
          align-items: center;

          .button-block__button {
            @include button(100%, 15px, 15px, 2px, $color__white, transparent, bold, 15px, $family2, 15px, $color__white);
          }

          .button-block__button:first-of-type {
            margin-bottom: 20px;
          }

          .activeSlideButton {
            @include button(100%, 15px, 15px, 2px, $color__green, $color__green, bold, 15px, $family2, 15px, $color__white);
          }
        }

        a {
          display: none;
        }
      }
    }
  }

  .about {
    padding: 80px 0;

    .second__container {
      .about__body {
        .about__text-block {
          margin-bottom: 60px;
        }

        .about__blocks {
          justify-content: center;
          flex-wrap: wrap;

          .blocks__block {
            width: 47%;

            &:first-of-type {
              margin-right: 20px;
            }

            &:last-of-type {
              margin-top: 50px;
            }
          }
        }
      }
    }
  }

  .services {
    padding: 80px 0;

    .services__body {
      .services__text-block {
        margin-bottom: 80px;
      }

      .services__services-blocks {
        .services-blocks__service {
          width: 48%;
          padding: 20px 15px;

          .service__content {
            .service__img {
              margin-bottom: 25px;
            }

            .service__title {
              font: 600 18px/18px $family;
              margin-bottom: 18px;
            }

            .service__text {
              font: 14px/20px $family;
              margin-bottom: 30px;
            }
          }
        }
      }
    }
  }

  .price {
    padding: 80px 0;

    .main__container {
      width: 95%;

      .price__body {
        .price__text-block {
          margin-bottom: 80px;
        }

        .price__tariff-block {
          justify-content: center;
          flex-wrap: wrap;

          .tariff-block__tariff {
            width: 45%;

            .tariff__price-block {
              padding: 25px 0;

              .price-block__top-group {
                .price-block__title {
                  font: 22px/88% $family;
                  margin-bottom: 25px;
                }

                .price-block__cost {
                  span:first-of-type {
                    font: 18px/22px $family;
                    margin-right: 2px;
                  }

                  span:nth-child(2) {
                    font-size: 35px;
                    margin-right: 5px;
                  }

                  span:last-of-type {
                    font-size: 18px;
                  }
                }
              }
            }

            .tariff__list {
              margin: 10px 0 20px 0;
            }

            &:first-of-type {
              margin: 0 10px 0 0;
            }

            &:last-of-type {
              margin: 30px 0 0 0;
            }

            &:nth-child(2) {
              margin: 0 0 0 10px;
            }
          }
        }
      }
    }
  }

  .team {
    padding: 80px 0;

    .main__container {
      .team__body {
        .team__text-block {
          margin-bottom: 80px;
        }

        .team__members {
          margin-bottom: 60px;

          .members__member-card {
            width: 47%;

            .member-card__image {
              margin-bottom: 20px;
            }

            .member-card__name {
              font: 600 20px/92% $family;
              margin-bottom: 12px;
            }

            .member-card__position {
              font: 18px/110% $family;
              margin-bottom: 20px;
            }

            .member-card__social-networks {
              width: 80%;

              .social-networks__item {
                a {
                  width: 40px;
                  height: 40px;
                }
              }
            }

            &:last-of-type {
              display: none;
            }
          }
        }

        .team__buttons {
          width: 20%;

          .next-prev__button:nth-child(4) {
            display: block;
          }
        }
      }
    }
  }

  .blog {
    padding: 80px 0;

    .main__container {
      width: 95%;

      .blog__body {
        .blog__text-block {
          margin-bottom: 80px;
        }

        .blog__article {
          align-items: center;
          margin-bottom: 15px;

          .article__image {
            width: 45%;
          }

          .article__text-block {
            width: 55%;
            padding: 0 0 0 15px;

            .article__title {
              margin-bottom: 10px;

              a {
                font: 600 17px/73% $family;
              }
            }

            .article__data {
              flex-direction: column;
              align-items: flex-start;

              .data__block {
                margin: 0 25px 10px 0;

                span {
                  margin-left: 15px;
                  font: 600 14px/122% $family;
                }
              }
            }

            .article__description {
              font: 13px/18px $family;
            }
          }
        }

        div:nth-child(4) {
          flex-direction: row;

          .article__text-block {
            width: 55%;
            padding: 0 0 0 15px;
          }
        }
      }
    }
  }

  .contact {
    padding: 80px 0;

    .contact__body {
      .contact__text-block {
        margin-bottom: 80px;

        .main-text__title {
          @include main-text__title(30px, 30px, $color__white, 25px);
        }

        .main-text__description {
          @include main-text__description(16px, 24px, $color__white);
        }
      }

      .contact__communication-group {
        margin-bottom: 60px;
        flex-wrap: wrap;
        justify-content: center;

        .communication-group__method{
          width: 48%;

          .method__img {
            width: 90px;
            height: 90px;
            margin-bottom: 30px;
          }

          .method__link {
            font: 600 18px/25px $family;
          }

          &:last-of-type {
            margin-top: 30px;
          }
        }
      }

      .contact__form {
        .form__input-area {
          .input-area__data {
            width: 50%;

            .input-area__input {
              padding: 15px 0 15px 15px;
              font: 600 16px/20px $family;

              &:not(:last-of-type) {
                margin-bottom: 20px;
              }
            }
          }

          .input-area__message {
            textarea {
              padding: 15px 0 15px 15px;
              font: 600 16px/20px $family;
            }
          }
        }

        .form__button {
          @include button(300px, 20px, 20px, 0, transparent, $color__blue, 600, 22px, $family, 28px, $color__white);
        }
      }
    }
  }

  .footer {
    padding: 50px 0;

    .main__container {
      .footer__body {
        .footer__menu {
          width: 40%;

          .footer__list {
            justify-content: flex-start;
            flex-direction: column;

            .footer__item {
              margin-bottom: 10px;

              &:last-of-type {
                margin-bottom: 0;
              }

              a {
                font: 20px/22px $family;
              }
            }
          }
        }

        .footer__copy-block {
          width: 50%;

          .copy-block__rights {
            font: 16px/22px $family;
          }
        }
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 576px) {

  .second__container {
    width: 95%;
  }

  .main-text {
    .main-text__title {
      @include main-text__title(27px, 27px, $color__black, 25px);
    }

    .main-text__description {
      @include main-text__description(14px, 24px, $color__black);
    }
  }

  .slide {
    margin-top: 100px;
    padding: 80px 0 50px 0;

    .slide__container {
      width: 95%;
      padding: 5px 0;

      .slide__body {
        .slide__title {
          font: 32px/35px $family;
          margin-bottom: 30px;
        }

        .slide__text {
          width: 85%;
          font: 18px/18px $family;
          margin-bottom: 50px;
        }

        .slide__button-block {
          width: 37%;
          margin-bottom: 0;
          flex-direction: column;
          align-items: center;

          .button-block__button {
            @include button(100%, 15px, 15px, 2px, $color__white, transparent, bold, 15px, $family2, 15px, $color__white);
          }

          .button-block__button:first-of-type {
            margin-bottom: 20px;
          }

          .activeSlideButton {
            @include button(100%, 15px, 15px, 2px, $color__green, $color__green, bold, 15px, $family2, 15px, $color__white);
          }
        }

        a {
          display: none;
        }
      }
    }
  }

  .about {
    padding: 50px 0;

    .about__body {
      .about__text-block {
        margin-bottom: 50px;
      }

      .about__blocks {
        justify-content: center;
        flex-wrap: wrap;

        .blocks__block {
          padding: 0 10px;
          width: 50%;

          img {
            height: 50px;
            margin-bottom: 20px;
          }

          .block__title {
            font: 600 18px/18px $family;
            margin-bottom: 20px;
          }

          .block__text {
            font: 14px/22px $family;
          }

          &:last-of-type {
            margin-top: 30px;
          }
        }
      }
    }
  }

  .services {
    padding: 50px 0;

    .services__body {
      .services__text-block {
        margin-bottom: 50px;
      }

      .services__services-blocks {
        .services-blocks__service {
          width: 48%;
          padding: 15px 10px;

          .service__content {
            .service__img {
              margin-bottom: 20px;
            }

            .service__title {
              font: 600 18px/18px $family;
              margin-bottom: 18px;
            }

            .service__text {
              font: 13px/18px $family;
              margin-bottom: 30px;
            }
          }
        }
      }
    }
  }

  .price {
    padding: 50px 0;

    .main__container {
      width: 95%;

      .price__body {
        .price__text-block {
          margin-bottom: 50px;
        }

        .price__tariff-block {
          justify-content: center;
          flex-wrap: wrap;

          .tariff-block__tariff {
            width: 80%;
            padding-bottom: 30px;

            .tariff__price-block {
              padding: 25px 0;

              .price-block__top-group {
                .price-block__title {
                  font: 26px/88% $family;
                  margin-bottom: 25px;
                }

                .price-block__cost {
                  span:first-of-type {
                    font: 25px/22px $family;
                    margin-right: 2px;
                  }

                  span:nth-child(2) {
                    font-size: 50px;
                    margin-right: 5px;
                  }

                  span:last-of-type {
                    font-size: 20px;
                  }
                }
              }
            }

            .tariff__list {
              margin: 10px 0 20px 0;
            }

            &:not(:last-of-type) {
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }

  .team {
    padding: 50px 0;

    .main__container {
      width: 95%;

      .team__body {
        .team__text-block {
          margin-bottom: 50px;
        }

        .team__members {
          margin-bottom: 50px;

          .members__member-card {
            width: 47%;

            .member-card__image {
              margin-bottom: 20px;
            }

            .member-card__name {
              font: 600 18px/92% $family;
              margin-bottom: 12px;
            }

            .member-card__position {
              font: 17px/110% $family;
              margin-bottom: 20px;
            }

            .member-card__social-networks {
              width: 87%;

              .social-networks__item {
                a {
                  width: 40px;
                  height: 40px;
                }
              }
            }

            &:last-of-type {
              display: none;
            }
          }
        }

        .team__buttons {
          width: 20%;

          .next-prev__button:nth-child(4) {
            display: block;
          }
        }
      }
    }
  }

  .blog {
    padding: 50px 0;

    .main__container {
      width: 95%;

      .blog__body {
        .blog__text-block {
          margin-bottom: 50px;
        }

        .blog__article {
          align-items: center;
          margin-bottom: 15px;

          .article__image {
            width: 45%;
          }

          .article__text-block {
            width: 55%;
            padding: 0 0 0 20px;

            .article__title {
              margin-bottom: 10px;

              a {
                font: 600 18px/73% $family;
              }
            }

            .article__data {
              flex-direction: column;
              align-items: flex-start;

              .data__block {
                margin: 0 25px 10px 0;

                span {
                  margin-left: 15px;
                  font: 600 15px/122% $family;
                }
              }
            }

            .article__description {
              display: none;
            }
          }
        }

        div:nth-child(4) {
          flex-direction: row;

          .article__text-block {
            width: 55%;
            padding: 0 0 0 20px;
          }
        }
      }
    }
  }

  .contact {
    padding: 50px 0;

    .contact__body {
      .contact__text-block {
        margin-bottom: 50px;

        .main-text__title {
          @include main-text__title(27px, 27px, $color__white, 25px);
        }

        .main-text__description {
          @include main-text__description(14px, 24px, $color__white);
        }
      }

      .contact__communication-group {
        margin-bottom: 50px;
        flex-wrap: wrap;
        justify-content: center;

        .communication-group__method{
          width: 50%;

          .method__img {
            width: 70px;
            height: 70px;
            margin-bottom: 20px;

            img {
              width: 50%;
            }
          }

          .method__link {
            font: 600 16px/22px $family;
          }

          &:last-of-type {
            margin-top: 30px;
          }
        }
      }

      .contact__form {

        .form__input-area {
          flex-direction: column;

          .input-area__data {
            width: 100%;
            margin-bottom: 15px;

            .input-area__input {
              padding: 20px 0 20px 15px;
              font: 600 15px/20px $family;

              &:not(:last-of-type) {
                margin-bottom: 15px;
              }
            }
          }

          .input-area__message {
            width: 100%;

            textarea {
              min-height: 135px;
              padding: 15px 0 15px 15px;
              font: 600 15px/20px $family;
            }
          }
        }

        .form__button {
          @include button(300px, 20px, 20px, 0, transparent, $color__blue, 600, 22px, $family, 28px, $color__white);
        }
      }
    }
  }

  .footer {
    padding: 40px 0;

    .main__container {
      .footer__body {
        align-items: flex-start;

        .footer__menu {
          width: 35%;

          .footer__list {
            justify-content: flex-start;
            flex-direction: column;

            .footer__item {
              margin-bottom: 10px;

              &:last-of-type {
                margin-bottom: 0;
              }

              a {
                font: 18px/22px $family;
              }
            }
          }
        }

        .footer__copy-block {
          width: 70%;

          .copy-block__rights {
            font: 15px/22px $family;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {

  .second__container {
    width: 100%;
  }

  .main-text {
    .main-text__title {
      @include main-text__title(26px, 36px, $color__black, 15px);
    }

    .main-text__description {
      @include main-text__description(14px, 20px, $color__black);
    }
  }

  .arrow {
    display: block;
    position: static;
    width: 20px;
    height: 20px;
    border-top: 5px solid $color__black;
    border-right: 5px solid $color__black;
    transform: rotate(135deg);
  }

  .arrowUp {
    transform: rotate(-45deg);
  }

  /* Header Style */
  .header {
    min-height: 75px;
    z-index: 1;

    .main__container {
      width: 90%;

      .header__body {
        .header__menu {
          top: 75px;
        }

        .header__logo {
          img {
            width: 55px;
          }

          .logo__text {
            font: 10px/14px $family;
            width: 73px;
          }
        }

        .header__burger {
          width: 21px;
          height: 14px;

          img {
            width: 21px;
          }
        }
      }
    }
  }

  /* Slide Style */
  .slide {
    margin-top: 75px;
    padding: 10px 0 10px 0;

    .slide__container {
      width: 94%;
      padding: 10px 0;

      .slide__body {
        .slide__title {
          font: 16px/20px $family;
          margin-bottom: 10px;
        }

        .slide__text {
          width: 80%;
          font: 10px/12px $family;
          margin-bottom: 15px;
        }

        .slide__button-block {
          width: 37%;
          margin-bottom: 0;
          flex-direction: column;
          align-items: center;

          .button-block__button {
            @include button(100%, 8px, 10px, 2px, $color__white, transparent, bold, 10px, $family2, 12px, $color__white);
          }

          .button-block__button:first-of-type {
            margin-bottom: 10px;
          }

          .activeSlideButton {
            @include button(100%, 8px, 10px, 2px, $color__green, $color__green, bold, 10px, $family2, 12px, $color__white);
          }
        }

        .slide__arrow {
          display: none;
        }
      }
    }
  }

  /* About Style */
  .about {
    padding: 30px 0 31px 0;

    .second__container {
      .about__body {

        .about__text-block {
          margin-bottom: 30px;
        }

        .about__blocks {
          width: 80%;
          flex-direction: column;
          align-items: center;
          display: none;

          .blocks__block {
            width: 100%;
          }

          .blocks__block:first-of-type {
            margin-top: 30px;
          }

          .blocks__block:not(:last-of-type) {
            margin-bottom: 30px;
          }
        }

        .active {
          display: block;
        }
      }
    }
  }

  /* Services Style */
  .services {
    padding: 30px 0 31px 0;

    .second__container {
      .services__body {
        .services__text-block {
          margin-bottom: 30px;
        }

        .services__services-blocks {
          display: none;
          width: 100%;
          margin-top: 30px;
          flex-direction: column;

          .services-blocks__service {
            width: 100%;
            padding: 30px 0;

            .service__content {
              flex-direction: row;
              justify-content: center;

              .service__img {
                margin-right: 24px;
              }

              .service__text {
                display: none;
              }
            }
          }

          .hidden-service {
            display: none;
          }

          .show-service {
            display: flex;
          }
        }

        .services__button {
          display: none;
        }

        .active {
          display: block;
        }
      }
    }
  }

  /* Price Style */
  .price {
    padding: 30px 0 31px 0;

    .main__container {
      width: 100%;
      padding: 0;

      .price__body {
        .price__text-block {
          margin-bottom: 30px;
          padding: 0 10px;
        }

        .price__tariff-block {
          display: none;
          flex-direction: column;
          margin-top: 30px;

          .tariff-block__tariff {
            width: 100%;
            padding: 0;

            .tariff__price-block {
              display: flex;
              flex-direction: column;
              align-items: center;
              padding: 24px 0 21px 0;

              .price-block__top-group {
                width: 100%;
                flex-direction: row;
                align-items: center;
                height: 55px;
                margin-bottom: 20px;

                .price-block__title {
                  width: 50%;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font: 22px/22px $family;
                  border-right: 1px solid $color__white;
                  margin-bottom: 0;
                }

                .price-block__cost {
                  width: 50%;
                  text-align: center;
                  line-height: 22px;

                  span:first-of-type {
                    font: 20px/16px $family;
                    margin-right: -3px;
                  }

                  span:nth-child(2) {
                    font: 30px/22px $family;
                    margin-right: 0;
                  }

                  span:last-of-type {
                    display: block;
                    font-size: 18px;
                  }
                }
              }
            }

            .price-block__arrow {
              display: block;
              position: static;
              width: 20px;
              height: 20px;
              border-top: 5px solid $color__white;
              border-right: 5px solid $color__white;
              transform: rotate(135deg);
            }

            .arrowUp {
              transform: rotate(-45deg);
            }
          }

          .tariff__list {
            display: none;
            margin: 5px 0 20px 0;
          }

          .tariff__button {
            display: none;
            @include button(130px, 9px, 10px, 2px, $color__black, transparent, 600, 14px, $family, 22px, $color__black);
            margin-bottom: 20px;
          }

          .activeCharacteristics {
            display: block;
          }
        }

        .active {
          display: block;
        }

        .tariff-block__tariff:not(:last-of-type) {
          margin-bottom: 20px;
        }
      }
    }
  }

  /* Team Style */
  .team {
    padding: 30px 0 31px 0;

    .main__container {
      width: 100%;
      padding: 0;

      .team__body {
        .team__text-block {
          margin-bottom: 30px;
          padding: 0 10px;
        }

        .team__members {
          display: none;
          margin: 30px 0 40px 0;
          justify-content: center;

          .members__member-card {
            width: 100%;
            max-width: 390px;

            .member-card__social-networks {
              width: 91%;
            }
          }

          .members__member-card:not(:first-of-type) {
            display: none;
          }
        }

        .team__buttons {
          width: 50%;
          display: none;

          .hidden-button {
            display: block;
          }
        }

        .active {
          display: flex;
        }
      }
    }
  }

  /* Blog Style */
  .blog {
    padding: 30px 0 31px 0;

    .main__container {
      width: 100%;


      .blog__body {
        .blog__text-block {
          margin-bottom: 30px;
        }

        .blog__article {
          display: none;
          margin-top: 30px;
          width: 100%;
          max-width: 320px;
          align-items: center;
          justify-content: space-between;

          .article__image {
            width: 34%;
          }

          .article__text-block {
            width: 64%;
            padding: 0;

            .article__title {
              margin-bottom: 11px;

              a {
                font: 600 16px/22px $family;
              }
            }

            .article__data {
              flex-direction: column;
              align-items: flex-start;

              .data__block {
                display: flex;
                margin-bottom: 1px;

                img {
                  width: 15px;
                  height: 15px;
                }

                span {
                  margin-left: 10px;
                  font: 600 14px/22px $family;
                }
              }
            }

            .article__description {
              display: none;
            }
          }
        }

        div:nth-child(4) {
          flex-direction: row;

          .article__text-block {
            padding: 0;
          }
        }

        .blog__button-block {
          display: none;
          margin-top: 30px;
          @include button(130px, 9px, 13px, 0, $color__green, $color__green, 600, 16px, $family, 22px, $color__white);
        }

        .active {
          display: flex;
        }
      }
    }
  }

  /* Contact Style */
  .contact {
    padding: 30px 0 31px 0;

    .second__container {
      .contact__body {
        .contact__text-block {
          margin-bottom: 30px;

          .main-text__title {
            @include main-text__title(26px, 36px, $color__white, 15px);
          }

          .main-text__description {
            @include main-text__description(14px, 20px, $color__white);
          }
        }

        .arrow {
          border-top: 5px solid $color__white;
          border-right: 5px solid $color__white;
        }

        .contact__communication-group {
          display: none;
          flex-direction: column;
          margin: 30px 0 40px 0;
          justify-content: center;
          max-width: 280px;

          .communication-group__method {
            width: 100%;

            &:not(:last-of-type) {
              margin-bottom: 30px;
            }

            .method__img {
              width: 70px;
              height: 70px;
              margin-bottom: 15px;

              img {
                max-width: 40px;
                max-height: 40px;
              }
            }

            .method__link {
              font: 600 20px/30px $family;
            }
          }
        }

        .contact__form {
          display: none;

          .form__input-area {
            flex-direction: column;
            margin-bottom: 15px;

            .input-area__data {
              width: 100%;
              margin-bottom: 0;

              .input-area__input {
                width: 100%;
                padding: 18px 0 14px 30px;
                margin-bottom: 15px;
              }
            }

            .input-area__message {
              width: 100%;

              textarea {
                padding: 14px 0 0 30px;
                min-height: 150px;
              }
            }
          }

          .form__button {
            @include button(100%, 13px, 15px, 0, transparent, $color__blue, 600, 26px, $family, 28px, $color__white);
            border-radius: 20px;
          }
        }

        .active {
          display: flex;
        }
      }
    }
  }

  /* Footer Style */
  .footer {
    padding: 20px 0 25px 0;

    .main__container {
      width: 100%;

      .footer__body {
        align-items: flex-start;

        .footer__menu {
          width: 44%;

          .footer__list {
            flex-direction: column;

            .footer__item {
              a {
                font: 22px/32px $family;
              }
            }
          }
        }

        .footer__copy-block {
          width: 49%;
          padding-top: 11px;

          .copy-block__rights {
            font: 14px/16px $family;
            text-align: end;
            margin-bottom: 15px;
          }

          .copy-block__network-links {
            .network-links-item:first-of-type {
              margin-right: 11px;

              img {
                width: 35px;
              }
            }

            .network-links-item:nth-child(2) {
              margin-right: 24px;

              img {
                width: 30px;
              }
            }


            .network-links-item:last-of-type {
              img {
                width: 22px;
              }
            }
          }
        }
      }
    }
  }
}



